*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    margin-top: 40px;
    margin-left: 375px;
    display: flex;
    gap: 500px;
}

.top_content{
    margin-top: 84px;
    margin-left: 373px;
    display: flex;
    gap: 39px;
}

.top_info{
    width: 522px;
}

.top_title{
    padding-bottom: 17px;
}

.top_buttons{
    padding-top: 37px;
}

.top_logo{
    margin-top: 97px;
    margin-left: 345px;
    display: flex;
    gap: 48px;
}