* {
    margin: 0;
    padding: 0;
}

.center{
    padding-left: calc(50% - 560px);
    padding-right: calc(50% - 560px);
}

.top{
    background-image: url("img/top-background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.top-header-left{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-header-left-text{
    text-transform: uppercase;
    color: #FDFDFD;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}

.top-header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.top-header-right-link{
    text-decoration: none;
    color: #FDFDFD;
    font-size: 16px;
    font-family: sans-serif;
}

.top-header-right-btn{
    cursor: pointer;
    padding: 10px 15px;
    background-color: #1A3E3E;
    border: none;
    border-radius: 3px;
    color: #FDFDFD;
    font-size: 14px;
    font-family: sans-serif;
}

.top-footer{
    margin-bottom: 50px;
}

.top-footer-title{
    text-transform: uppercase;
    color: #FDFDFD;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.top-footer-form{
    padding: 30px;
    background-color: rgba(205, 214, 219, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.top-footer-select, .top-footer-date{
    padding: 10px;
    background-color: #465B65;
    border: 1px solid #FDFDFD;
    border-radius: 3px;
    color: #FDFDFD;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 240px;
}

.top-footer-text{
    margin: 5px 0px 0px 10px;
    color: #e1e1e1;
    font-size: 10px;
    font-family: sans-serif;
}

.top-footer-btn{
    cursor: pointer;
    padding: 10px 50px;
    background-color: #FDFDFD;
    border: 2px solid #FDFDFD;
    border-radius: 3px;
    color: #465B65;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}

.content-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 200px;
}

.content-info-left{
    position: relative;
    margin-top: -100px;
}

.content-info-left-img{
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 35%;
}

.content-info-right{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content-info-right-subtitle{
    color: #F2BE22;
    font-size: 16px;
    font-family: sans-serif;
}

.content-info-right-title{
    font-family: sans-serif;
}

.content-info-right-text{
    font-size: 16px;
    font-family: sans-serif;
}

.content-info-right-btn{
    cursor: pointer;
    padding: 10px 15px;
    background-color: #1A3E3E;
    border: none;
    border-radius: 3px;
    color: #FDFDFD;
    font-size: 14px;
    font-family: sans-serif;
    max-width: 260px;
}






.content-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: #F3F5F4;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-price-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-price-left-subtitle{
    color: #F2BE22;
    font-size: 16px;
    font-family: sans-serif;
}

.content-price-left-title{
    font-family: sans-serif;
}

.content-price-left-text{
    font-size: 16px;
    font-family: sans-serif;
}

.content-price-left-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content-price-left-box-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.content-price-left-btn{
    cursor: pointer;
    padding: 10px 15px;
    background-color: #1A3E3E;
    border: none;
    border-radius: 3px;
    color: #FDFDFD;
    font-size: 14px;
    font-family: sans-serif;
    max-width: 260px;
}

.content-price-right{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content-price-right-img{
    width: 200px;
    height: 200px;
}






.content-rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-rating-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-rating-text-subtitle{
    color: #F2BE22;
    font-size: 16px;
    font-family: sans-serif;
}

.content-rating-text-title{
    font-family: sans-serif;
}

.content-rating-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.content-rating-card-item-first{
    background-image: url("img/rating-card-item.png");
}

.content-rating-card-item-second{
    background-image: url("img/rating-card-item2.png");
}

.content-rating-card-item-third{
    background-image: url("img/rating-card-item3.png");
}

.content-rating-card-item{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    width: 320px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-rating-card-item:hover .content-rating-card-item-info{
    padding: 20px 20px 40px 20px;
    transition: 0.5s;
}

.content-rating-card-item-rating{
    display: flex;
    /*justify-content: end;*/
    align-items: center;
    gap: 5px;
    margin-top: 50px;
    padding: 5px;
    background-color: rgba(205, 214, 219, 0.7);
    margin-left: auto;
    border-radius: 3px 0 0 3px;
}

.content-rating-card-item-rating-icon{
    width: 24px;
    height: 24px;
}

.content-rating-card-item-rating-count{
    font-size: 14px;
    font-family: sans-serif;
}

.content-rating-card-item-info{
    background-color: rgba(205, 214, 219, 0.3);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.content-rating-card-item-info-title{
    color: #fdfdfd;
    font-family: sans-serif;
}

.content-rating-card-item-info-subtitle{
    color: #fdfdfd;
    font-size: 14px;
    font-family: sans-serif;
}

.content-rating-card-item-info-price{
    background-color: rgba(205, 214, 219, 0.5);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif;
    color: #fdfdfd;
}

.content-rating-btn{
    cursor: pointer;
    padding: 10px 20px;
    background-color: #1A3E3E;
    border: none;
    border-radius: 3px;
    color: #FDFDFD;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 260px;
    max-width: 460px;
}





.content-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #F3F5F4;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-blog-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-blog-text-subtitle{
    color: #F2BE22;
    font-size: 16px;
    font-family: sans-serif;
}

.content-blog-text-title{
    font-family: sans-serif;
}

.content-blog-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.content-blog-card-item{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    max-width: 480px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s;
}

.content-blog-card-item:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.content-blog-card-item-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 280px;
}

.content-blog-card-item-right-title{
    font-family: sans-serif;
}

.content-blog-card-item-right-subtitle{
    font-size: 14px;
    font-family: sans-serif;
    overflow: hidden;
}

.content-blog-card-item-right-info{
    display: flex;
    justify-content: space-between;
}

.content-blog-card-item-right-info-date{
    color: #F2BE22;
    font-size: 16px;
    font-family: sans-serif;
}

.content-blog-card-item-right-info-read{
    font-size: 16px;
    font-family: sans-serif;
}

.content-blog-btn{
    cursor: pointer;
    padding: 10px 20px;
    background-color: #1A3E3E;
    border: none;
    border-radius: 3px;
    color: #FDFDFD;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 260px;
    max-width: 460px;
}
