@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.center {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}

.head {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 25px;
  padding-bottom: 40px;
}
.head_top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.head_top_left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.head_top_left_place {
  display: flex;
  align-items: center;
  gap: 10px;
}
.head_top_left_place_img {
  width: 35px;
}
.head_top_left_place_text {
  font-size: 14px;
  font-weight: 500;
  color: #505559;
}
.head_top_left_phone {
  display: flex;
  align-items: center;
  gap: 10px;
}
.head_top_left_phone_img {
  width: 30px;
}
.head_top_left_phone_text {
  font-size: 14px;
  font-weight: 500;
  color: #505559;
}
.head_top_right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.head_top_right_link {
  font-size: 14px;
  font-weight: 500;
  color: #505559;
}
.head_top_right_link:hover {
  cursor: pointer;
}
.head_bot {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.head_bot_left_logo {
  width: 350px;
}
.head_bot_center {
  display: flex;
  gap: 30px;
  align-items: center;
}
.head_bot_center_catalog {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 16px 40px;
  background-color: #A62033;
  border: 1px solid #A62033;
  border-radius: 7px;
  fill: #ffffff;
}
.head_bot_center_catalog_text {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.head_bot_center_catalog:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #A62033;
  fill: #A62033;
}
.head_bot_center_catalog:hover .head_bot_center_catalog_text {
  color: #A62033;
}
.head_bot_center_search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.head_bot_center_search_input {
  padding: 20px 25px;
  background-color: #F0F1F2;
  width: 500px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 400;
}
.head_bot_center_search_button {
  padding: 18px 25px;
  background-color: #F0F1F2;
  border: none;
  border-radius: 7px;
}
.head_bot_center_search_button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.head_bot_right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.head_bot_right_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.head_bot_right_icon_img {
  width: 35px;
}
.head_bot_right_icon_text {
  font-size: 14px;
  font-weight: 500;
  color: #505559;
}
.head_bot_right_icon:hover {
  cursor: pointer;
}

.slide_show {
  position: relative;
}
.slide_show_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
  background-color: #2B4040;
  background-image: url(img/fon.svg);
  background-position: center;
  border-radius: 10px;
  position: relative;
}
.slide_show_all_arrow_left {
  position: absolute;
  left: -25px;
  top: 200px;
  background-color: #ffffff;
  padding: 18px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  fill: #A62033;
}
.slide_show_all_arrow_left:hover {
  cursor: pointer;
  background-color: #A62033;
  fill: #ffffff;
}
.slide_show_all_arrow_right {
  position: absolute;
  right: -25px;
  top: 200px;
  background-color: #ffffff;
  padding: 18px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  fill: #A62033;
}
.slide_show_all_arrow_right:hover {
  cursor: pointer;
  background-color: #A62033;
  fill: #ffffff;
}
.slide_show_all_left {
  display: flex;
  flex-direction: column;
}
.slide_show_all_left_text_info {
  font-size: 14px;
  font-weight: 500;
  color: #AEB0B3;
  margin-bottom: 70px;
}
.slide_show_all_left_title {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.slide_show_all_left_subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.slide_show_all_left_button {
  padding: 18px 25px;
  background-color: #A62033;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  width: 200px;
  margin-top: 50px;
}
.slide_show_all_left_button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #A62033;
}
.slide_show_all_right_photo {
  width: 280px;
  height: 380px;
  border-radius: 20%;
  filter: brightness(75%);
}

.main_section {
  margin: 40px 0px;
}
.main_section_popular_title {
  font-size: 24px;
  font-weight: 700;
  color: #1F2830;
}
.main_section_popular_product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.main_section_popular_product_item {
  padding: 15px 10px 10px 10px;
  margin: 20px 0px;
  width: 210px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  background-color: #2B4040;
  background-image: url(img/fon_3.svg);
  border-radius: 10px;
  background-position: center;
}
.main_section_popular_product_item:nth-child(odd) {
  background-image: url(img/fon_2.svg);
  background-position: center;
}
.main_section_popular_product_item_img {
  width: 200px;
  height: 240px;
  filter: brightness(80%);
}
.main_section_popular_product_item_title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
.main_section_popular_product_item_text {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.main_section_popular_product_item:hover {
  filter: brightness(110%);
  opacity: 0.9;
}
.main_section_popular_product_item:hover::after {
  position: absolute;
  top: 100px;
  content: "Добавить в корзину";
  background-color: #A62033;
  border-radius: 5px;
  width: 100px;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
.main_section_catalog_title {
  font-size: 24px;
  font-weight: 700;
  color: #1F2830;
}
.main_section_catalog_product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 0px;
}
.main_section_catalog_product_left {
  display: flex;
  gap: 50px;
  align-items: center;
  background-color: #F0F1F2;
  padding: 0px 30px;
  border: 2px solid #2B4040;
  border-radius: 10px;
}
.main_section_catalog_product_left_img {
  width: 170px;
  height: 200px;
  opacity: 0.9;
}
.main_section_catalog_product_left_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_section_catalog_product_left_content_title {
  font-size: 24px;
  font-weight: 700;
  color: #1F2830;
}
.main_section_catalog_product_left_content_subtitle {
  display: flex;
  gap: 10px;
}
.main_section_catalog_product_left_content_subtitle_text {
  font-size: 16px;
  font-weight: 500;
  color: #AEB0B3;
}
.main_section_catalog_product_left_content_subtitle_text:hover {
  cursor: pointer;
  color: #1F2830;
}
.main_section_catalog_product_left_content_text {
  font-size: 16px;
  font-weight: 600;
  color: #1F2830;
}
.main_section_catalog_product_right {
  display: flex;
  gap: 50px;
  align-items: center;
  background-color: #F0F1F2;
  padding: 0px 30px;
  border: 2px solid #2B4040;
  border-radius: 10px;
}
.main_section_catalog_product_right_img {
  width: 170px;
  height: 200px;
  opacity: 0.9;
}
.main_section_catalog_product_right_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main_section_catalog_product_right_content_title {
  font-size: 24px;
  font-weight: 700;
  color: #1F2830;
}
.main_section_catalog_product_right_content_subtitle {
  display: flex;
  gap: 10px;
}
.main_section_catalog_product_right_content_subtitle_text {
  font-size: 16px;
  font-weight: 500;
  color: #AEB0B3;
}
.main_section_catalog_product_right_content_subtitle_text:hover {
  cursor: pointer;
  color: #1F2830;
}
.main_section_catalog_product_right_content_text {
  font-size: 16px;
  font-weight: 600;
  color: #1F2830;
}
.main_section_news_title {
  font-size: 24px;
  font-weight: 700;
  color: #1F2830;
}
.main_section_news_section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 0px;
}
.main_section_news_section_left {
  width: 550px;
  height: 270px;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%), url(img/clothing_model_10.jpg) center/cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  border-left: 13px solid #2B4040;
}
.main_section_news_section_left_info {
  font-size: 14px;
  font-weight: 500;
  color: #AEB0B3;
}
.main_section_news_section_left_text {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.main_section_news_section_left:hover {
  cursor: pointer;
  filter: brightness(105%);
  border-left-color: #A62033;
}
.main_section_news_section_right {
  width: 550px;
  height: 270px;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%), url(img/clothing_model_11.jpg) center/cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  border-left: 13px solid #2B4040;
}
.main_section_news_section_right_info {
  font-size: 14px;
  font-weight: 500;
  color: #AEB0B3;
}
.main_section_news_section_right_text {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.main_section_news_section_right:hover {
  cursor: pointer;
  filter: brightness(105%);
  border-left-color: #A62033;
}
.main_section_about_title {
  font-size: 24px;
  font-weight: 700;
  color: #1F2830;
}
.main_section_about_text {
  margin: 20px 0px;
  font-size: 16px;
  font-weight: 400;
  color: #1F2830;
  max-width: 900px;
}

.footer_content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: #2B4040;
  background-image: url(img/fon_3.svg);
  background-position: center;
  padding: 90px 0px 30px 0px;
}
.footer_content_top {
  display: flex;
  justify-content: space-around;
}
.footer_content_top_social {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_content_top_social_title {
  font-size: 14px;
  font-weight: 600;
  color: #AEB0B3;
}
.footer_content_top_social_icon {
  display: flex;
  gap: 20px;
  fill: #F0F1F2;
}
.footer_content_top_social_icon_item:hover {
  cursor: pointer;
  fill: #A62033;
}
.footer_content_top_catalog {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_content_top_catalog_title {
  font-size: 14px;
  font-weight: 600;
  color: #AEB0B3;
}
.footer_content_top_catalog_link {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.footer_content_top_catalog_link:hover {
  cursor: pointer;
  color: #A62033;
}
.footer_content_top_buyers {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_content_top_buyers_title {
  font-size: 14px;
  font-weight: 600;
  color: #AEB0B3;
}
.footer_content_top_buyers_link {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.footer_content_top_buyers_link:hover {
  cursor: pointer;
  color: #A62033;
}
.footer_content_top_office {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_content_top_office_title {
  font-size: 14px;
  font-weight: 600;
  color: #AEB0B3;
}
.footer_content_top_office_text {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.footer_content_bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_content_bottom_left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_content_bottom_left_title {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
.footer_content_bottom_left_text {
  font-size: 14px;
  font-weight: 500;
  color: #AEB0B3;
}

.authorization {
  display: flex;
}
.authorization_left {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.authorization_left_head {
  display: flex;
}
.authorization_left_head_logo {
  width: 350px;
}
.authorization_left_head_right {
  display: flex;
}
.authorization_right {
  width: 50%;
  background-color: #505559;
}

@media (max-width: 1440px) {
  .head_bot {
    gap: 5px;
  }
  .head_bot_center_search_input {
    width: 200px;
  }
  .slide_show {
    margin-left: 50px;
    margin-right: 50px;
  }
  .main_section {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (max-width: 1024px) {
  .head_bot {
    gap: 20px;
  }
  .slide_show_all {
    padding: 30px 50px;
  }
}
@media (max-width: 768px) {
  .head_top {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */