@keyframes dragoMovement1 {
  0% {
    left: -150px;
    top: 70vh;
  }
  10% {
    left: 10vw;
    top: 54vh;
  }
  20% {
    left: 20vw;
    top: 80vh;
  }
  30% {
    left: 30vw;
    top: 62vh;
  }
  40% {
    left: 40vw;
    top: 22vh;
  }
  50% {
    left: 50vw;
    top: 19vh;
  }
  60% {
    left: 60vw;
    top: 80vh;
  }
  70% {
    left: 70vw;
    top: 21vh;
  }
  100% {
    left: 80vw;
    top: 30vh;
  }
}
@keyframes dragoMovement2 {
  0% {
    left: -150px;
    top: 58vh;
  }
  10% {
    left: 10vw;
    top: 43vh;
  }
  20% {
    left: 20vw;
    top: 1vh;
  }
  30% {
    left: 30vw;
    top: 71vh;
  }
  40% {
    left: 40vw;
    top: 61vh;
  }
  50% {
    left: 50vw;
    top: 69vh;
  }
  60% {
    left: 60vw;
    top: 45vh;
  }
  70% {
    left: 70vw;
    top: 65vh;
  }
  100% {
    left: 80vw;
    top: 30vh;
  }
}
@keyframes dragoMovement3 {
  0% {
    left: -150px;
    top: 38vh;
  }
  10% {
    left: 10vw;
    top: 53vh;
  }
  20% {
    left: 20vw;
    top: 5vh;
  }
  30% {
    left: 30vw;
    top: 48vh;
  }
  40% {
    left: 40vw;
    top: 32vh;
  }
  50% {
    left: 50vw;
    top: 51vh;
  }
  60% {
    left: 60vw;
    top: 61vh;
  }
  70% {
    left: 70vw;
    top: 51vh;
  }
  100% {
    left: 80vw;
    top: 30vh;
  }
}
@keyframes dragoMovement4 {
  0% {
    left: -150px;
    top: 71vh;
  }
  10% {
    left: 10vw;
    top: 35vh;
  }
  20% {
    left: 20vw;
    top: 30vh;
  }
  30% {
    left: 30vw;
    top: 75vh;
  }
  40% {
    left: 40vw;
    top: 31vh;
  }
  50% {
    left: 50vw;
    top: 13vh;
  }
  60% {
    left: 60vw;
    top: 52vh;
  }
  70% {
    left: 70vw;
    top: 78vh;
  }
  100% {
    left: 80vw;
    top: 30vh;
  }
}
@keyframes dragoMovement5 {
  0% {
    left: -150px;
    top: 51vh;
  }
  10% {
    left: 10vw;
    top: 6vh;
  }
  20% {
    left: 20vw;
    top: 35vh;
  }
  30% {
    left: 30vw;
    top: 1vh;
  }
  40% {
    left: 40vw;
    top: 3vh;
  }
  50% {
    left: 50vw;
    top: 52vh;
  }
  60% {
    left: 60vw;
    top: 16vh;
  }
  70% {
    left: 70vw;
    top: 11vh;
  }
  100% {
    left: 80vw;
    top: 30vh;
  }
}
@keyframes dragoMovement6 {
  0% {
    left: -150px;
    top: 47vh;
  }
  10% {
    left: 10vw;
    top: 2vh;
  }
  20% {
    left: 20vw;
    top: 4vh;
  }
  30% {
    left: 30vw;
    top: 7vh;
  }
  40% {
    left: 40vw;
    top: 37vh;
  }
  50% {
    left: 50vw;
    top: 45vh;
  }
  60% {
    left: 60vw;
    top: 19vh;
  }
  70% {
    left: 70vw;
    top: 8vh;
  }
  100% {
    left: 80vw;
    top: 30vh;
  }
}
@keyframes dragoMovement7 {
  0% {
    left: -150px;
    top: 19vh;
  }
  10% {
    left: 10vw;
    top: 2vh;
  }
  20% {
    left: 20vw;
    top: 78vh;
  }
  30% {
    left: 30vw;
    top: 26vh;
  }
  40% {
    left: 40vw;
    top: 14vh;
  }
  50% {
    left: 50vw;
    top: 67vh;
  }
  60% {
    left: 60vw;
    top: 78vh;
  }
  70% {
    left: 70vw;
    top: 77vh;
  }
  100% {
    left: 80vw;
    top: 30vh;
  }
}
@keyframes dragoMovement8 {
  0% {
    left: -150px;
    top: 60vh;
  }
  10% {
    left: 10vw;
    top: 54vh;
  }
  20% {
    left: 20vw;
    top: 45vh;
  }
  30% {
    left: 30vw;
    top: 9vh;
  }
  40% {
    left: 40vw;
    top: 22vh;
  }
  50% {
    left: 50vw;
    top: 78vh;
  }
  60% {
    left: 60vw;
    top: 72vh;
  }
  70% {
    left: 70vw;
    top: 31vh;
  }
  100% {
    left: 80vw;
    top: 30vh;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  counter-reset: count;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-image: url(mountains.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.drago {
  position: absolute;
}
.drago_check {
  position: absolute;
  visibility: hidden;
}
.drago_check:checked {
  counter-increment: count;
}
.drago_check:checked ~ label {
  display: none;
}
.drago_img {
  width: 150px;
}
.drago_img:hover {
  cursor: pointer;
}
.drago_1 {
  animation: dragoMovement1 10s linear 2s both;
}
.drago_2 {
  animation: dragoMovement2 10s linear 4s both;
}
.drago_3 {
  animation: dragoMovement3 10s linear 6s both;
}
.drago_4 {
  animation: dragoMovement4 10s linear 8s both;
}
.drago_5 {
  animation: dragoMovement5 10s linear 10s both;
}
.drago_6 {
  animation: dragoMovement6 10s linear 12s both;
}
.drago_7 {
  animation: dragoMovement7 10s linear 14s both;
}
.drago_8 {
  animation: dragoMovement8 10s linear 16s both;
}

.world {
  position: absolute;
  right: 5vw;
  top: 10vh;
}

.counter_info {
  color: rgb(0, 83, 83);
  position: absolute;
  top: 30px;
  right: 30px;
}
.counter_info::after {
  content: counter(count);
}/*# sourceMappingURL=style.css.map */